@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes neonBorder {
  0% {
    box-shadow: 0 0 5px cyan, 0 0 10px cyan, 0 0 15px cyan, 0 0 20px cyan;
  }
  50% {
    box-shadow: 0 0 10px cyan, 0 0 20px cyan, 0 0 30px cyan, 0 0 40px cyan;
  }
  100% {
    box-shadow: 0 0 5px cyan, 0 0 10px cyan, 0 0 15px cyan, 0 0 20px cyan;
  }
}

.animate-neonBorder {
  animation: neonBorder 3s linear infinite;
}
